{"Afghanistan" {:gdp 1.7275E7, :continent "Asia", :age 60.5, :pop 32527000},
 "Albania" {:gdp 1.2269E7, :continent "Europe", :age 77.8, :pop 2897000},
 "Algeria" {:gdp 1.65974E8, :continent "Africa", :age 75.6, :pop 39667000},
 "Angola" {:gdp 8.1497E7, :continent "Africa", :age 52.4, :pop 25022000},
 "Antigua and Barbuda" {:gdp 1332000.0, :continent "North America", :age 76.4, :pop 92000},
 "Argentina" {:gdp 4.37856E8, :continent "South America", :age 76.3, :pop 43417000},
 "Armenia" {:gdp 1.0774E7, :continent "Europe", :age 74.8, :pop 3018000},
 "Australia" {:gdp 1.200778E9, :continent "Oceania", :age 82.8, :pop 23969000},
 "Austria" {:gdp 3.84799E8, :continent "Europe", :age 81.5, :pop 8545000},
 "Azerbaijan" {:gdp 3.5141E7, :continent "Europe", :age 72.7, :pop 9754000},
 "Bahamas" {:gdp 8917000.0, :continent "North America", :age 76.1, :pop 388000},
 "Bahrain" {:gdp 3.0079E7, :continent "Asia", :age 76.9, :pop 1377000},
 "Bangladesh" {:gdp 2.26257E8, :continent "Asia", :age 71.8, :pop 160996000},
 "Barbados" {:gdp 4498000.0, :continent "North America", :age 75.5, :pop 284000},
 "Belarus" {:gdp 4.5887E7, :continent "Europe", :age 72.3, :pop 9496000},
 "Belgium" {:gdp 4.65248E8, :continent "Europe", :age 81.1, :pop 11299000},
 "Belize" {:gdp 1807000.0, :continent "North America", :age 70.1, :pop 359000},
 "Benin" {:gdp 9062000.0, :continent "Africa", :age 60.0, :pop 10880000},
 "Bhutan" {:gdp 2475000.0, :continent "Asia", :age 69.8, :pop 775000},
 "Bolivia" {:gdp 3.3983E7, :continent "South America", :age 70.7, :pop 10725000},
 "Bosnia and Herzegovina" {:gdp 1.6324000000000002E7, :continent "Europe", :age 77.4, :pop 3810000},
 "Botswana" {:gdp 1.2701E7, :continent "Africa", :age 65.7, :pop 2262000},
 "Brazil" {:gdp 1.534782E9, :continent "South America", :age 75.0, :pop 207848000},
 "Brunei" {:gdp 9097000.0, :continent "Asia", :age 77.7, :pop 423000},
 "Bulgaria" {:gdp 4.9364E7, :continent "Europe", :age 74.5, :pop 7150000},
 "Burkina" {:gdp 1.1872E7, :continent "Africa", :age 59.9, :pop 18106000},
 "Burundi" {:gdp 2772000.0, :continent "Africa", :age 59.6, :pop 11179000},
 "Cambodia" {:gdp 1.9476E7, :continent "Asia", :age 68.7, :pop 15578000},
 "Cameroon" {:gdp 3.0296E7, :continent "Africa", :age 57.3, :pop 23344000},
 "Canada" {:gdp 1.462329E9, :continent "North America", :age 82.2, :pop 35940000},
 "Cape Verde" {:gdp 1625000.0, :continent "Africa", :age 73.3, :pop 521000},
 "Central African Republic" {:gdp 1819000.0, :continent "Africa", :age 52.5, :pop 4900000},
 "Chad" {:gdp 1.0096E7, :continent "Africa", :age 53.1, :pop 14037000},
 "Chile" {:gdp 2.35419E8, :continent "South America", :age 80.5, :pop 17948000},
 "China" {:gdp 1.1383033E10, :continent "Asia", :age 76.1, :pop 1383925000},
 "Colombia" {:gdp 2.5324E8, :continent "South America", :age 74.8, :pop 48229000},
 "Comoros" {:gdp 609000.0, :continent "Africa", :age 63.5, :pop 788000},
 "Congo" {:gdp 8364000.000000001, :continent "Africa", :age 59.8, :pop 77267000},
 "Costa Rica" {:gdp 5.6908E7, :continent "North America", :age 79.6, :pop 4808000},
 "Croatia" {:gdp 4.9928E7, :continent "Europe", :age 78.0, :pop 4240000},
 "Cyprus" {:gdp 1.9795E7, :continent "Europe", :age 80.5, :pop 1165000},
 "Czech Republic" {:gdp 1.85269E8, :continent "Europe", :age 78.8, :pop 10543000},
 "Côte d'Ivoire" {:gdp 3.4668E7, :continent "Africa", :age 53.3, :pop 22702000},
 "Denmark" {:gdp 3.01784E8, :continent "Europe", :age 80.6, :pop 5669000},
 "Djibouti" {:gdp 1903000.0, :continent "Africa", :age 63.5, :pop 888000},
 "Dominican Republic" {:gdp 7.1433E7, :continent "North America", :age 73.9, :pop 10528000},
 "Ecuador" {:gdp 9.4014E7, :continent "South America", :age 76.2, :pop 16144000},
 "El Salvador" {:gdp 2.7327E7, :continent "North America", :age 73.5, :pop 6127000},
 "Equatorial Guinea" {:gdp 7884000.0, :continent "Africa", :age 58.2, :pop 845000},
 "Eritrea" {:gdp 5352000.0, :continent "Africa", :age 64.7, :pop 5228000},
 "Estonia" {:gdp 2.3847E7, :continent "Europe", :age 77.6, :pop 1313000},
 "Ethiopia" {:gdp 6.7435E7, :continent "Africa", :age 64.8, :pop 99391000},
 "Fiji" {:gdp 4964000.0, :continent "Oceania", :age 69.9, :pop 892000},
 "Finland" {:gdp 2.34578E8, :continent "Europe", :age 81.1, :pop 5503000},
 "France" {:gdp 2.46479E9, :continent "Europe", :age 82.4, :pop 64395000},
 "Gabon" {:gdp 1.4166E7, :continent "Africa", :age 66.0, :pop 1725000},
 "Gambia" {:gdp 886000.0, :continent "Africa", :age 61.1, :pop 1991000},
 "Georgia" {:gdp 1.3942E7, :continent "Europe", :age 74.4, :pop 4000000},
 "Germany" {:gdp 3.46778E9, :continent "Europe", :age 81.0, :pop 80689000},
 "Ghana" {:gdp 3.8171E7, :continent "Africa", :age 62.4, :pop 27410000},
 "Greece" {:gdp 1.94594E8, :continent "Europe", :age 81.0, :pop 10955000},
 "Grenada" {:gdp 1000000.0, :continent "North America", :age 73.6, :pop 107000},
 "Guatemala" {:gdp 6.8142E7, :continent "North America", :age 71.9, :pop 16343000},
 "Guinea" {:gdp 6569000.0, :continent "Africa", :age 59.0, :pop 12609000},
 "Guinea-Bissau" {:gdp 1136000.0, :continent "Africa", :age 58.9, :pop 1844000},
 "Guyana" {:gdp 3335000.0, :continent "South America", :age 66.2, :pop 767000},
 "Haiti" {:gdp 8160000.0, :continent "North America", :age 63.5, :pop 10711000},
 "Honduras" {:gdp 2.0632E7, :continent "North America", :age 74.6, :pop 8075000},
 "Hungary" {:gdp 1.17729E8, :continent "Europe", :age 75.9, :pop 9855000},
 "Iceland" {:gdp 1.8633E7, :continent "Europe", :age 82.7, :pop 329000},
 "India" {:gdp 2.288715E9, :continent "Asia", :age 68.3, :pop 1311051000},
 "Indonesia" {:gdp 9.36955E8, :continent "Asia", :age 69.1, :pop 257564000},
 "Iran" {:gdp 3.8612E8, :continent "Asia", :age 75.5, :pop 79109000},
 "Iraq" {:gdp 1.48411E8, :continent "Asia", :age 68.9, :pop 36423000},
 "Ireland" {:gdp 2.54596E8, :continent "Europe", :age 81.4, :pop 4688000},
 "Israel" {:gdp 3.06194E8, :continent "Asia", :age 82.5, :pop 8064000},
 "Italy" {:gdp 1.848691E9, :continent "Europe", :age 82.7, :pop 59798000},
 "Jamaica" {:gdp 1.4057E7, :continent "North America", :age 76.2, :pop 2793000},
 "Japan" {:gdp 4.412603E9, :continent "Asia", :age 83.7, :pop 126573000},
 "Jordan" {:gdp 3.9795E7, :continent "Asia", :age 74.1, :pop 7595000},
 "Kazakhstan" {:gdp 1.16151E8, :continent "Asia", :age 70.2, :pop 17625000},
 "Kenya" {:gdp 6.4688E7, :continent "Africa", :age 63.4, :pop 46050000},
 "Kiribati" {:gdp 159000.0, :continent "Oceania", :age 66.3, :pop 112000},
 "Kuwait" {:gdp 1.06212E8, :continent "Asia", :age 74.7, :pop 3892000},
 "Kyrgyzstan" {:gdp 6030000.0, :continent "Asia", :age 71.1, :pop 5940000},
 "Laos" {:gdp 1.3359E7, :continent "Asia", :age 65.7, :pop 6802000},
 "Latvia" {:gdp 2.8177E7, :continent "Europe", :age 74.6, :pop 1971000},
 "Lebanon" {:gdp 5.2797E7, :continent "Asia", :age 74.9, :pop 5851000},
 "Lesotho" {:gdp 1766000.0, :continent "Africa", :age 53.7, :pop 2135000},
 "Liberia" {:gdp 2106000.0, :continent "Africa", :age 61.4, :pop 4503000},
 "Libya" {:gdp 3.9315E7, :continent "Africa", :age 72.7, :pop 6278000},
 "Lithuania" {:gdp 4.3024E7, :continent "Europe", :age 73.6, :pop 2878000},
 "Luxembourg" {:gdp 6.0176E7, :continent "Europe", :age 82.0, :pop 567000},
 "Macedonia" {:gdp 1.0424E7, :continent "Europe", :age 75.7, :pop 2078000},
 "Madagascar" {:gdp 9524000.0, :continent "Africa", :age 65.5, :pop 24235000},
 "Malawi" {:gdp 5347000.0, :continent "Africa", :age 58.3, :pop 17215000},
 "Malaysia" {:gdp 3.09262E8, :continent "Asia", :age 75.0, :pop 30331000},
 "Maldives" {:gdp 3282000.0, :continent "Asia", :age 78.5, :pop 364000},
 "Mali" {:gdp 1.4198E7, :continent "Africa", :age 58.2, :pop 17600000},
 "Malta" {:gdp 1.0355E7, :continent "Europe", :age 81.7, :pop 419000},
 "Mauritania" {:gdp 4541000.0, :continent "Africa", :age 63.1, :pop 4068000},
 "Mauritius" {:gdp 1.1865E7, :continent "Africa", :age 74.6, :pop 1273000},
 "Mexico" {:gdp 1.082431E9, :continent "North America", :age 76.7, :pop 127017000},
 "Micronesia" {:gdp 325000.0, :continent "Oceania", :age 69.4, :pop 104000},
 "Moldova" {:gdp 6084000.0, :continent "Europe", :age 72.1, :pop 4069000},
 "Mongolia" {:gdp 1.1652E7, :continent "Asia", :age 68.8, :pop 2959000},
 "Montenegro" {:gdp 4182000.0000000005, :continent "Europe", :age 76.1, :pop 626000},
 "Morocco" {:gdp 1.08096E8, :continent "Africa", :age 74.3, :pop 34378000},
 "Mozambique" {:gdp 1.2505E7, :continent "Africa", :age 57.6, :pop 27978000},
 "Myanmar" {:gdp 7.4012E7, :continent "Asia", :age 66.6, :pop 53897000},
 "Namibia" {:gdp 1.121E7, :continent "Africa", :age 65.8, :pop 2459000},
 "Nepal" {:gdp 2.1874E7, :continent "Asia", :age 69.2, :pop 28514000},
 "Netherlands" {:gdp 7.62521E8, :continent "Europe", :age 81.9, :pop 16925000},
 "New Zealand" {:gdp 1.69922E8, :continent "Oceania", :age 81.6, :pop 4529000},
 "Nicaragua" {:gdp 1.2903E7, :continent "North America", :age 74.8, :pop 6082000},
 "Niger" {:gdp 7510000.0, :continent "Africa", :age 61.8, :pop 19899000},
 "Nigeria" {:gdp 5.37966E8, :continent "Africa", :age 54.5, :pop 182202000},
 "Norway" {:gdp 3.66873E8, :continent "Europe", :age 81.8, :pop 5211000},
 "Oman" {:gdp 5.1679E7, :continent "Asia", :age 76.6, :pop 4491000},
 "Panama" {:gdp 5.5755E7, :continent "North America", :age 77.8, :pop 3929000},
 "Papua New Guinea" {:gdp 1.5615E7, :continent "Oceania", :age 62.9, :pop 7619000},
 "Paraguay" {:gdp 2.6804E7, :continent "South America", :age 74.0, :pop 6639000},
 "Peru" {:gdp 1.78643E8, :continent "South America", :age 75.5, :pop 31377000},
 "Philippines" {:gdp 3.10312E8, :continent "Asia", :age 68.5, :pop 100699000},
 "Poland" {:gdp 4.73501E8, :continent "Europe", :age 77.5, :pop 38612000},
 "Portugal" {:gdp 2.05085E8, :continent "Europe", :age 81.1, :pop 10350000},
 "Qatar" {:gdp 1.7086E8, :continent "Asia", :age 78.2, :pop 2235000},
 "Romania" {:gdp 1.81944E8, :continent "Europe", :age 75.0, :pop 19511000},
 "Russia" {:gdp 1.132739E9, :continent "Asia", :age 70.5, :pop 143457000},
 "Rwanda" {:gdp 8490000.0, :continent "Africa", :age 66.1, :pop 11610000},
 "Samoa" {:gdp 865000.0, :continent "Oceania", :age 74.0, :pop 193000},
 "Saudi Arabia" {:gdp 6.18274E8, :continent "Asia", :age 74.5, :pop 31540000},
 "Senegal" {:gdp 1.4572E7, :continent "Africa", :age 66.7, :pop 15129000},
 "Serbia" {:gdp 3.7381E7, :continent "Europe", :age 75.6, :pop 8851000},
 "Seychelles" {:gdp 1427000.0, :continent "Africa", :age 73.2, :pop 96000},
 "Sierra Leone" {:gdp 4094999.9999999995, :continent "Africa", :age 50.1, :pop 6453000},
 "Singapore" {:gdp 2.9456E8, :continent "Asia", :age 83.1, :pop 5604000},
 "Slovenia" {:gdp 4.3791E7, :continent "Europe", :age 80.8, :pop 2068000},
 "Solomon Islands" {:gdp 1202000.0, :continent "Oceania", :age 69.2, :pop 584000},
 "South Africa" {:gdp 2.6621300000000003E8, :continent "Africa", :age 62.9, :pop 54490000},
 "South Sudan" {:gdp 3074000.0, :continent "Africa", :age 57.3, :pop 12340000},
 "Spain" {:gdp 1.242356E9, :continent "Europe", :age 82.8, :pop 46122000},
 "Sri Lanka" {:gdp 8.4807E7, :continent "Asia", :age 74.9, :pop 20715000},
 "Sudan" {:gdp 9.3729E7, :continent "Africa", :age 64.1, :pop 40235000},
 "Suriname" {:gdp 4336000.0, :continent "South America", :age 71.6, :pop 543000},
 "Swaziland" {:gdp 3391000.0, :continent "Africa", :age 58.9, :pop 1287000},
 "Sweden" {:gdp 5.1274800000000006E8, :continent "Europe", :age 82.4, :pop 9779000},
 "Switzerland" {:gdp 6.5177E8, :continent "Europe", :age 83.4, :pop 8299000},
 "Tajikistan" {:gdp 6245000.0, :continent "Asia", :age 69.7, :pop 8482000},
 "Tanzania" {:gdp 4.5899E7, :continent "Africa", :age 61.8, :pop 53470000},
 "Thailand" {:gdp 4.09724E8, :continent "Asia", :age 74.9, :pop 67959000},
 "Timor-Leste" {:gdp 2100000.0, :continent "Asia", :age 68.3, :pop 1185000},
 "Togo" {:gdp 4405000.0, :continent "Africa", :age 59.9, :pop 7305000},
 "Tonga" {:gdp 414000.0, :continent "Oceania", :age 73.5, :pop 106000},
 "Trinidad and Tobago" {:gdp 2.3816E7, :continent "North America", :age 71.2, :pop 1360000},
 "Tunisia" {:gdp 4.3989E7, :continent "Africa", :age 75.3, :pop 11254000},
 "Turkey" {:gdp 7.51186E8, :continent "Asia", :age 75.8, :pop 78666000},
 "Turkmenistan" {:gdp 3.5398E7, :continent "Asia", :age 66.3, :pop 5374000},
 "Uganda" {:gdp 2.4995E7, :continent "Africa", :age 62.3, :pop 39032000},
 "Ukraine" {:gdp 8.355E7, :continent "Europe", :age 71.3, :pop 44824000},
 "United Arab Emirates" {:gdp 3.25135E8, :continent "Asia", :age 77.1, :pop 9157000},
 "United Kingdom" {:gdp 2.760959E9, :continent "Europe", :age 81.2, :pop 64716000},
 "United States of America" {:gdp 1.8558129E10, :continent "North America", :age 79.3, :pop 321774000},
 "Uruguay" {:gdp 5.3145E7, :continent "South America", :age 77.0, :pop 3432000},
 "Uzbekistan" {:gdp 6.1649E7, :continent "Asia", :age 69.4, :pop 29893000},
 "Vanuatu" {:gdp 799000.0, :continent "Oceania", :age 72.0, :pop 265000},
 "Venezuela" {:gdp 1.85611E8, :continent "South America", :age 74.1, :pop 31108000},
 "Vietnam" {:gdp 2.01361E8, :continent "Asia", :age 76.0, :pop 93448000},
 "Yemen" {:gdp 3.7308E7, :continent "Asia", :age 65.7, :pop 26832000},
 "Zambia" {:gdp 1.9117E7, :continent "Africa", :age 61.8, :pop 16212000},
 "Zimbabwe" {:gdp 1.4659E7, :continent "Africa", :age 60.7, :pop 15603000}}
